.filters-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  flex: 1;
}

.btn {
  background: #a80000;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.table-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  overflow-x: auto; /* Permite scroll horizontal si es necesario */
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;  
}

thead {
  background: #f2f2f2;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: black;
}

.estado {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
  color: white;
}

.estado.vigente {
  background: #4caf50;
}

.estado.vencido {
  background: #ff4a4a;
}

.estado.devuelto {
  background: #00c2a8;
}

.actions button {
  margin-right: 8px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

