/* Contenedor general */
.admin-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* HEADER SUPERIOR BLANCO */
.top-header {
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 25px;
  border-bottom: 1px solid #e0e0e0;
  z-index: 10;
}

.top-logo {
  height: 45px;
}

.top-header h2 {
  margin: 0;
  font-size: 16px;
  color: #222;
}

.top-header p {
  margin: 0;
  font-size: 13px;
  color: #666;
}

/* Layout principal */
.admin-layout {
  height: calc(100vh - 70px);
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* Contenido */
.content {
  flex: 1;
  background: #f4f6f8;
  padding: 20px;
  overflow-y: auto;
}
.page-title {
  padding: 20px;
}

.page-title h1 {
  margin: 0;
  font-size: 26px;
  color: black;
}
.page-content {
  width: 100%;
  max-width: 100%;
  padding: 0 20px; /* Puedes ajustar */
  box-sizing: border-box;
}

