.sidebar {
  width: 350px;
  background: #8b0000;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 15px;
}


.user-box {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 15px 18px;
  margin-bottom: 20px;
}
.avatar {
  width: 48px;
  height: 48px;
  background: white;
  color: #a80000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 18px;
  font-weight: bold;
  flex-shrink: 0;
}
.user-info {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}


.username {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  color: white;
}


.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.menu a {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.menu a.active {
  background: #ffffff33;
}

.logout {
  background: #800000;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.submenu {
  display: flex;
  flex-direction: column;
}

.submenu-title {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  cursor: pointer;
  color: #eee;
}

.submenu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}

.submenu-items {
  padding-left: 20px;
}

.sub-item {
  padding: 8px 14px;
  font-size: 14px;
  color: #ddd;
  text-decoration: none;
  display: block;
}

.sub-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.arrow {
  margin-left: auto;
  transition: transform 0.2s;
}

.arrow.open {
  transform: rotate(180deg);
}
.logout-btn {
  margin: 20px;
  padding: 10px;
  background: #a80000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.2s;
}

.logout-btn:hover {
  background: #8f0000;
}


